Testing/Example_data/
Testing/BT386C2/*/*
Testing/Eline_BT386C2/

*/1_WGAN
*/2_CycleGAN
*/3_UNet
*/Output_Masks_CycleGAN
*/Output_Masks_UNet
*/Input_Images
*/Init_Masks

*/*/1_WGAN
*/*/2_CycleGAN
*/*/3_UNet
*/*/Output_Masks_CycleGAN
*/*/Output_Masks_UNet
*/*/Input_Images
*/*/Init_Masks

